/*==========  Desktop First Method  ==========*/

@media screen and (max-width: 1600px){

}

@media screen and (max-width: 1600px){
    .type-two-python-header-item {
        padding-left: 23px;
    }

    .type-two-python .type-2-title {
        width: 67%;
    }

    .type-two-python .type-2-title-text-python {
        text-align: justify;
    }

    .type-two-python .type-2-wrapper {
        justify-content: space-between;
    }

    .python-header-item-image {
        right: 0;
    }

    .four-java-bg-text-owu {
        left: -15%;
    }

    .five-java-item-image-1 {
        top: 185px;
    }

    .section-five-content {
        justify-content: flex-end;
    }

    .desctop-list {
        width: 70%;
    }

    .list {
        margin-right: 100px;
    }
    .btn-page {
        right: 0;
    }

    .item-input-group input:first-child {
        width: 68%;
    }

}

@media screen and (max-width: 1400px) {
    .six-wrap-item-right {
        justify-content: flex-start;
    }

    .six-wrap-item-left {
        justify-content: flex-end;
    }

    .description-btn button {
        width: 100%;
    }

    .item-input-group input:first-child {
        width: 68%;
    }

    .type-five-content-item {
        width: 70%;
    }


}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .desctop-list {
        width: 60%;
    }

    .list {
        margin-right: 0;
    }

    .six-wrap-item {
        width: 80%;
    }

    .wrapper {
        max-width: calc(1246px + 30px + 30px);
    }

    .desctop-list {
        justify-content: space-around;
    }

    .list-item {
        width: 200px;
    }

    .section-three-brand {
        flex-basis: 60%;
    }

    .js-img {
        position: absolute;
        top: -33px;
        left: 11%;
    }

    .six-item-text {
        width: 100%;
    }

    .six-item-number {
        left: -30px;
    }

    .five-java-item-image-1 {
        width: 300px;
    }

    .five-java-item-image-1 img{
        width: 100%;
    }



}

@media only screen and (max-width: 1110px) {
    .header-menu ul li {
        margin-left: 0;
    }

    .wrapper-title-1-img img, .header-content-text {
        width: 450px;
    }

    .header-info {
        align-items: center;
        margin-right: 0;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .type-nine-java {
        padding-bottom: 0;
    }

    .header-menu, .phone-number-block, .header-callback, .wrapper-title-1-img {
        display: none;
    }
    .c-hamburger, .wrapper-title-1-img-mobile, .type-1-wrapper-mobile {
        display: block;
    }
    .wrapper-title-1-img-mobile {
        top: 74px;
        display: block;
        width: 100%;
    }

    .wrapper-title-1-img-mobile img {
        width: 80%;
    }

    .wrapper-title-2-mob {
        font-size: 23px;
    }

    .wrapper-title-2-mob h3 {
        font-weight: 900;
        font-size: 28px;
        line-height: 40px;
        align-items: center;
        text-transform: uppercase;
        color: #292929;
    }

    .type-1-wrapper {
        display: none;
    }

    .header-content-text {
        width: 100%;
        margin-bottom: 78px;
        text-align: left;
    }

    .hours {
        display: none;
    }

    .header-content-text p {
        margin-bottom: 15px;
        margin-top: 15px;
        font-weight: 900;
    }

    .type-1-text-mob, .java-title-1 {
        display: none;
    }

    .header-content-info {
        width: 100%;
    }

    .header-info {
        flex-direction: row;
        align-items: flex-start;
    }

    .btn-header-content {
        position: inherit;
        bottom: -40px;
    }

    .type-2-wrapper {
        flex-direction: column;
    }

    .type-2-wrapper .col-xl-4:first-child {
        display: none;
    }

    .type-2 {
        padding: 70px 0;
    }

    .type-five-content-item-mob {
        border-bottom: 3px solid #ffffff;
        transition: 2s;
    }

    .type-2-wrapper-text {
        margin-top: 40px;
    }

    .section-two-content {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }

    .section-two-content-1{
        width: 90%;
        margin: 0 auto 60px;
        transition: 1s;
        padding: 25px 10px 0;
    }

    .section-two-content-2 {
        width: 90%;
        margin: 0 auto;
        transition: 1s;
        padding: 25px 10px 0;
    }

    .type-four-image {
        display: none;
    }

    .two-content-1, .two-content-2 {
        height: 0;
        overflow: hidden;
        transition: height 1000ms;
    }

    .header-type-four {
        padding: 45px 0 15px;
    }

    .type-five-content .col-xl-4:nth-child(2) {
        display: none;
    }

    .type-six {
        background: #292929;
        padding: 80px 0 160px;
    }

    .type-six-title .type-title-h3, .type-six-title-text, .type-six .loonar{
        color: #ffffff;
    }

    .loonar {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    .loonar span {
        font-weight: bold;
    }

    .type-six-title-text {
        width: 100%;
        text-align: left;
    }

    .img-vector {
        display: none;
    }

    .carousel-indicators .active {
        background: #FF9638;
        width: 13px;
        height: 13px;
    }

    .section-three-slider {
        width: 100%;
    }

    .carousel-item img {
        display: none;
    }

    .type-six-video-mob {
        display: flex;
        justify-content: center;
    }

    ol.carousel-indicators {
        justify-content: space-around;
        bottom: -75px;
    }

    .carousel-indicators li {
        border: none;
        width: 15px;
        height: 15px;
    }

    .type-2-title-sup {
        display: none;
    }

    .type-2-title-sub {
        display: block;
        margin-top: 30px;
    }

    .section-three-brand {
        display: none;
    }

    .type-seven-image, .type-img-owu, .type-img-web {
        display: none;
    }

    .type-five {
        position: relative;
        padding: 50px 0;
    }

    .section-eight-content-mobile {
        display: block;
    }

    .section-eight-content {
        display: none;
    }

    .section-ten {
        flex-direction: column;
    }
    .section-ten-content {
        width: 100%;
    }

    .rec-image {
        display: none;
    }

    .sec-eight-header-image {
        position: static;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .tyrphs-description-individual {
        padding-left: 0;
        padding-right: 0;
    }

    .eight-header-image {
        flex-basis: 50%;
        position: relative;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .eight-mobile-image-left, .eight-mobile-image-right  {
        display: block;
    }

    .eight-image-2 {
        display: none;
    }

    .type-eight-header-text {
        margin-bottom: 30px;
        line-height: 30px;
    }

    .type-tyrphs-content {
        display: none;
    }

    .type-tyrphs-content-mobile {
        display: block;
    }

    .type-tyrphs-item {
        width: 95% !important;
        margin-top: 45px;
        padding: 60px 12px 50px;
        justify-content: space-between;
    }

    .item-tyrphs-form {
        margin-bottom: 0;
    }

    .main-video {
        width: 90%;
        margin-bottom: 50px;
        height: 300px;
    }

    .description-video {
        padding: 0 10px;
    }

    .videos {
        margin-left: 12px;
    }

    .type-eight-header {
        padding-bottom: 0;
    }

    .type-eight-wrap {
        padding-top: 67px;
        padding-bottom: 0;
    }

    .type-3-content-mobile {
        display: block;
    }

    .type-3-content {
        display: none;
    }

    .type-3-item {
        margin-bottom: 25px;
        height: 450px;
        width: 95% !important;
    }

    .type-3 .slider {
        height: 500px;
    }

    .type-3 {
        padding: 50px 0 20px;
    }

    .carousel-item-slider-desktop {
        display: none;
    }

    .slick-dots li.slick-active button:before {
        width: 23px;
        height: 23px;
        left: -2px;
    }

    .section-two-content-title-2, .section-two-content-title-1 {
        margin-bottom: 20px;
    }

    .type-five-title {
        margin-bottom: 30px;
    }

    .five-item-title-mob {
        margin-top: 24px;
    }

    .section-five {
        padding: 50px 0 100px;
    }

    .btn-page {
        left: 50%;
        margin-left: -185px;
    }

    .arr, .arr-2 {
        display: block;
    }

    .type-six .type-title-h3 {
        color: #ffffff;
    }

    .header-callback-menu button {
        display: none;
    }

    .type-one-python .type-1-wrapper-mobile {
        background: #3298F2;
    }

    .wrapper-title-1-img-python {
        display: none;
    }

    .type-one-python .btn-header-content button {
        background: #FFE200;;
    }

    .type-2-title-sup-mobile {
        display: block;
    }

    .type-2-title-sup-mobile h3 {
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: #3298F2;
        margin-bottom: 18px;
    }

    .type-2-title-sup-mobile .type-2-text {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 67px;
    }

    .type-two-python .type-2-wrapper {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .type-title-text {
        text-align: justify;
        width: 100%;
    }

    .type-four-python-image {
        display: none;
    }

    .type-four-python {
        padding-bottom: 0;
    }

    .type-five-python-footer {
        width: 100%;
    }

    .type-five-python-content {
        flex-direction: column;
    }

    .four-item-wrap-python {
        margin-bottom: 20px;
        padding: 15px 0 0 50px;
        transition: 2s;
        border: 3px solid #000000;
    }

    .type-five-python {
        display: none;
    }

    .type-six-python-content {
        display: none;
    }

    .type-six-python-content-mobile {
        display: block;
    }

    .type-six-python {
        background: #3298F2;
        padding-top: 65px;
        padding-bottom: 0;
    }

    .type-six-python .type-title-h3 {
        color: #ffffff;
    }

    .type-six-python .type-title-h2 {
        color: #333333;
    }

    .seven-python-content {
        display: none;
    }

    .seven-python-wrap {
        background: #ffffff;
        padding: 20px;
        position: relative;
        margin-bottom: 35px;
        width: 95% !important;
    }

    .seven-python-item-button {
        position: absolute;
        bottom: -25px;
        background-color: #ffffff;
        width: 220px;
        left: 50%;
        margin-left: -110px;
    }

    .python-eight-image {
        display: none;
    }

    .type-nine-python-image {
        display: none;
    }

    .type-nine-python {
        padding-bottom: 90px;
    }

    .type-nine-python .type-eight-header {
        margin-bottom: 50px;
    }

    .type-nine-python .type-six-title-text {
        color: #474747;
    }

    .type-one-java .wrapper-title-1-img-mobile {
        top: 35px;
    }

    .type-one-java .wrapper-title-2-mob h3 {
        font-weight: 900;
        font-size: 28px;
        line-height: 34px;
        text-transform: uppercase;
        color: #FF9638;
    }

    .type-one-java .type-1-wrapper-course-mob {
        padding-top: 430px;
    }

    .type-two-java {
        padding: 50px 0;
    }

    .java-title-2, .java-title-1, .java-complex-content-image, .three-java-image {
        display: none;
    }

    .header-type-three-java {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .type-four-java .type-six-title-text {
        color: #474747;
    }

    .type-four-java {
        padding-bottom: 70px;
    }

    .four-java-bg-text-owu, .four-java-bg-text-web {
        display: none;
    }

    .five-java-content, .five-java-item-image-1, .seven-java-image, .section-five-image, .down-image, .eight-java-content {
        display: none;
    }

    .five-java-content-mobile {
        display: block;
    }

    .sec-four-item {
        margin: 0 10px;
        padding: 25px 10px 40px;
        background: #EDF4FB;
        width: 100%;
        height: 300px;
        border-left: 10px solid #ffffff;
    }

    .five-java-content-mobile .slick-dots {
        display: flex !important;
    }

    .type-five-java {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .type-one-python .type-1-wrapper-course-mob {
        padding-top: 200px;
    }

    .type-eight-java {
        background: #EDF4FB;
        padding-bottom: 0;
    }

    .review-image-2 {
        display: none;
    }

    .type-eight-java .type-eight-header {
        margin-bottom: 50px;
    }

    .type-four-python-image {
        display: none;
    }

    .four-item-wrap-python-text {
        height: 0;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    .type-four-python-img {
        display: none;
    }

    .seven-python-content-mobile {
        display: block;
    }

    .python-header-item-text {
        height: 0;
        overflow: hidden;
        transition: height 500ms;
    }

    .python-header-item-title {
        margin-bottom: 0;
    }

    .type-two-python-header {
        padding: 50px 0 30px;
    }

    .type-seven-java .type-2-title {
        width: 100%;
        font-size: 25px;
    }

    .type-seven-java {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .type-tyrphs-items {
        width: 95% !important;
    }

    .type-nine, .type-ten-java {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .title-modal h2 {
        font-size: 18px;
        line-height: 20px;
    }

    .type-ten-python .type-eight-wrap {
        padding-top: 50px;
    }

    .wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .type-eleven-python {
        padding-top: 50px;
        padding-bottom: 90px;
    }

    .type-eleven-python .slick-dots {
        bottom: -55px;
    }

    .type-seven-python {
        padding-bottom: 0;
    }

    .type-1-wrapper-mobile {
        padding-bottom: 80px;
    }

    .type-one-python .type-1-wrapper-course-mob {
        padding-top: 150px;
    }

    .wrapper-title-1-img-mobile {
        top: 50px;
    }

    .java-complex-content {
        margin-left: 15px;
    }

    header {
        height: 60px;
    }

    .four-wrap-python-image-mobile {
        opacity: 1;
        display: none;
    }

    .four-wrap-python-image {
        opacity: 0;
        transition: 1s;
    }

    .type-six-title-text {
        text-align: justify;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0 !important;
    }

    .type-five-java .center-2 {
        height: 300px;
    }

    .type-seven-python .center-2 {
        height: 300px;
    }

    .seven-python-wrap {
        height: 300px;
    }

    .section-two-content-desk {
        display: none;
    }

    .type-four-python-content-mob {
        display: block;
        padding-bottom: 1px;
    }

    .type-four-python-content, .java-complex-list-desk {
        display: none;
    }

    .review-image, .review-image-2 {
        display: none;
    }

    .java-complex-list {
        display: block;
    }

    .footer-map {
        display: none;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .type-2-title-text::after, .type-2-title-text::before, .type-2-title::before, .type-2-title::after {
        display: none;
    }

    .info-content {
        width: 135px;
    }

    .info-content-text {
        font-size: 10px;
    }

    .five-item-number {
        display: none;
    }

    .type-img-owu, .type-img-web {
        display: none;
    }

    .type-five {
        padding: 38px 0 0;
        background: #EDF4FB;
    }

    .type-title-h3 {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .type-five-content {
        display: none;
    }

    .type-five-title {
        
    }
    
    .type-five-content-mob {
        display: block;
    }

    .list-item {
        width: 135px;
    }

    .type-seven-title {
        margin-bottom: 20px;
    }

    footer {
        padding-top: 50px;
    }

    .footer-logo {
        display: none;
    }

    .footer-contact {
        margin-left: 100px;
        font-size: 21px;
    }

    .contact-item span {
        font-size: 16px;
        top: 5%;
    }

    .description-btn button {
        width: 80%;
    }

    .description-text {
        margin-bottom: 50px;
        padding-right: 55px;
    }

    .type-2-text {
        font-size: 15px;
    }

    .type-2-wrapper-text , .type-2-wrapper-text .type-2-text {
        font-size: 21px;
    }

    .type-nine-title {
        margin-bottom: 20px;
    }

    .type-one-java .type-1-wrapper-course-mob {
        padding-top: 300px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .type-seven-python .center-2 {
        height: 350px;
    }

    .eight-header-image {
        flex-basis: 40%;
    }

    .type-two-java {
        padding: 50px 0 0;
    }

    .section-two-content-1 {
        margin-bottom: 30px;
    }

    .wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }

    .desctop-list {
        display: none;
    }

    .content {
        margin-top: 45px;
    }
    .el-title-2 {
        right: auto;
    }
    .el-title-2-p1 {
        font-size: 10.33vh;
    }

    .el-title-2-p2 {
        font-size: 16.33vh;
    }

    .el-title-2-p3 {
        font-size: 6vh;
    }

    .el-title-1 {
        top: 35vh;
    }

    .wrapper-video{
        top: 57vh;
    }

    .type-1-wrapper-course-mob {
        padding-top: 200px;
    }

    .header-content-text {
        margin-bottom: 25px;
    }

    .type-title-h3 {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    .type-title-h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .type-six {
        background: #292929;
        padding: 40px 0 80px;
    }

    .list-item {
        width: 100%;
        margin-left: 20px;
        margin-top: 5px;
        color: #ffffff;
    }

    .list-mobile {
        display: block;
        width: 100%;
        padding: 0 0 0 50px;
        position: relative;
    }

    .type-seven-image-mob {
        position: absolute;
        right: 0;
        top: 10%;
    }

    .type-tyrphs-title-1, .tyrphs-btn button {
        width: 200px;
        margin-left: -100px;
    }

    .main-video {
        width: 90%;
        height: 190px;
        margin-left: 0;

    }

    .section-ten-btn button, .description-btn button {
        width: 260px;
    }

    .window-modal {
        width: 100%;
        left: 0;
        margin-left: 0;
        bottom: 0;
        padding: 53px 0;
        height: 100%;
        overflow: scroll;
    }

    .modal-btn button {
        margin-top: 15px;

    }

    .title-modal, .radio-title {
        margin-bottom: 25px;
    }

    .forms input {
        font-size: 14px;
        line-height: 50px;
    }

    .section-two-content-item-img-2 {
        top: 15px;
    }

    .section-two-content-item-img {
        top: 0;
    }

    .wrapper-title-2-mob h3 {
        font-size: 20px;
        line-height: 26px;
    }

    .btn-header-content button, .btn-header-mobile button {
        width: 260px;
        padding: 20px 13px;
        font-size: 14px;
    }

    .info-content {
        width: 150px;
    }

    .btn-header-content {
        width: 260px;
        margin-left: -130px;
    }

    .type-2-title-text {
        line-height: 30px;
    }

    .type-2-title-text span {
        font-size: 40px;
    }

    .type-2-title-img-left {
        left: -10px;
    }

    .header-type-four {
        padding: 45px 0 1px;
    }

    .python-image img {
        height: 65px;
        margin-bottom: 30px;
    }

    .seven-python-item-title {
        font-size: 18px;
    }

    .seven-python-item-subtitle {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .seven-python-item-text {
        font-size: 14px;
    }

    .type-one-java .type-1-wrapper-course-mob {
        padding-top: 230px;
    }

    .list-content {
        padding: 10px;
    }

    .type-eight-header-text {
        width: 100%;
    }

    .type-2-title-img-right img {
        width: 60px;
        bottom: -15px;
    }

    .type-2-title-img-left img {
        width: 60px;
    }

    .type-2-title-img-left {
        top: -15px;
    }

    .sec-eight-header-image {
        width: 90%;
        margin-right: 25px;
    }

    .type-seven-java .type-2-title {
        font-size: 23px;
    }

    .type-tyrphs-item{
        height: 575px;
    }


























    .header-content-course {
        background-color: #3298F2;
    }

    .header-content-title {
        padding: 25px 10px 17px;
        border: 3px dotted #DCDCDC;
        width: 90%;
        margin: 0 auto;
    }



    .info-content-text {
        font-size: 8px;
    }

    .btn-header-mobile {
        width: 93%;
        margin: 90px auto;
    }

    .item-list-content {
        width: 100%;
        margin-left: 0;
    }

    .section-five-image {
        display: none;
    }

    .header-logo-img {
        flex-basis: 50%;
    }

    .section-three-brand {
        display: none;
    }

    .section-three-title-text {
        width: 90%;
    }

    .sec-seven-header-image {
        width: 90%;
    }

    .title-eight-1 h2, .title-section-1 {
        margin-bottom: 15px;
    }

    .item-title-2 {
        margin: 15px 0;
    }

    .nine-items {
        width: 90%;
        margin: 0 auto;
    }

    .section-nine-item {
        margin: 45px 10px 0;
    }


    .sec-seven-header-text {
        margin: 28px auto;
        width: 90%;
        text-align: left;
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;
        color: #000000;
    }


    .sec-seven-main {
        margin-bottom: 0;
    }



    .section-title {
        padding: 0 20px;
    }

    .section-nine-content {
        display: none;
    }

    .section-nine-content-mobile {
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }

    .item-nine-title-1 {
        width: 200px;
        margin-left: -100px;
        font-size: 16px;
    }

    .section-nine-item-footer {
        width: 93%;
        margin: 0 auto;
    }

    .rec-image {
        display: none;
    }

    .nine-description {
        font-size: 10px;
    }

    .lazy .slick-dots li button:before {
        content: '';
        width: 18px;
        height: 18px;
        background: #FF9638;
        box-sizing: border-box;
        border-radius: 50%;
    }

    .lazy .slick-dots {
        justify-content: space-around;
        bottom: -80px;
    }

    .slick-dots {
        bottom: -35px;
    }

    .type-3-content-mobile .slick-dots {
        bottom: 0;
    }

    .section-eight-content-mobile .slick-dots {
        bottom: 15px;
    }

    .type-tyrphs-content-mobile .slick-dots {
        bottom: -75px;
    }

    .type-ten-java .slick-dots {
        bottom: -35px;
    }

    .sec-four-content {
        display: none;
    }

    .sec-four-content-mobile {
        display: block;
        width: 100%;
    }

    .description-btn {
        width: 216px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -108px;
    }

    .section-eight-content, .review-image-2, .section-seven-image {
        display: none;
    }

    .section-eight-content-mobile {
        display: block;
        width: 100%;
    }

    .videos {
        margin: 0 10px;
        position: relative;
    }

    .main-video {
        position: relative;
    }

    .main-video img {
        position: absolute;
        left: 50%;
        margin-left: -55px;
        top: 50%;
        margin-top: -56px;
    }

    .description-btn button a {
        font-size: 14px;
    }

    .description-text {
        padding: 50px 0;
    }

    .content-title-2 {
        text-align: left;
    }

    #java-complex {
        padding: 63px 0;
    }

    .java-content {
        padding: 0;
    }

    .content-title-2 h1, .title-2 h2, .title-section-2 h2, .six-title-2 h2, .title-eight-1 h2, .title-nine-2 h2, .section-ten-title h2 {
        font-size: 20px;
    }

    .content-title-2 p, .title-1, .title-section-1, .description-title, .description-name, .title-nine-1 {
        font-size: 13px;
    }

    .six-title-2 {
        margin-top: 60px;
    }

    .title-image-left {
        display: block;
        left: -23px;
        top: 52px;
    }

    .title-image-right {
        display: block;
        right: -15px;
        top: 83px;
    }

    .title-image-left img, .title-image-right img {
        width: 50px;
    }

    .six-text-2 {
        margin-bottom: 57px;
    }

    .nine-btn button {
        width: 200px;
        margin-left: -100px;
    }

    .section-ten-btn{
        margin: 0 auto;
    }

    .python-header-item-image {
        display: none;
    }

    .type-two-python-header-wrap {
        flex-direction: column;
    }

    .python-header-item-mobile {
        margin-bottom: 30px;
    }

    .type-two-python .type-2-title {
        width: 100%;
        font-size: 28px;
    }

    .four-item-wrap-python-title img.four-wrap-python-image-mobile {
        top: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .type-two-python .type-2-title {
        font-size: 23px;
    }

    .type-2-title-img-left img, .type-2-title-img-right img {
        width: 60px;
    }

    .type-2-title-img-right img {
        bottom: -15px;
    }

    .type-2-title-img-left {
        top: -15px;
    }

    .type-2-title-sup-mobile .type-2-text, .type-two-python .type-2-title {
        margin-bottom: 35px;
    }

    .btn-page button {
        width: 100%;
    }

    .btn-page {
        width: 250px;
        margin-left: -125px;
    }

    .info-content {
        width: 105px;
    }

    .type-2-title-text {
        font-size: 22px;
    }

    .type-2-title-text span {
        font-size: 28px;
    }

    .type-2-wrapper-text, .type-2-wrapper-text .type-2-text {
        font-size: 17px;
    }

    .eight-mobile-image-left img, .eight-mobile-image-right img {
        width: 100px;
        height: 122px;
    }

    .arr, .arr-2 {
        right: 7px;
    }

    .item-title-2 {
        font-size: 16px;
    }

    .btn-header-content button, .btn-header-mobile button {
        font-size: 12px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}


/*==========  Mobile First Method  ==========*/

 Custom, iPhone Retina
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: calc(1300px + 30px + 30px);
    }
}


@media only screen and (min-width: 1600px) {
    .wrapper {
        max-width: calc(1546px + 30px + 30px);
    }

    .header-menu ul li {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 18px;
    }

    .header-menu ul li a {
        font-size: 18px;
    }

    .desctop-list {
        justify-content: space-around;
    }

    .list-item {
        width: 200px;
    }

    .wrapper-title-2 {
        width: 65%;
    }
}
