html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    border: none;
}

.slider {
    width: 100%;
}

.left-0 {
    left: 0 !important;
}

.bg-FFD43D {
    background-color: #FFD43D !important;
}

.bg-FF9638 {
    background-color: #FF9638;
}

.bg-3298F2 {
    background-color: #3298F2;
}

.bg-fff {
    background-color: #ffffff;
}


.bg-green {
    background-color: green !important;
}

.rotate-180 {
    transform: rotate(180deg);
}


.hidden-block .two-content-2 {
    height: auto !important;
    transition: 2s !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.border-python {
    border-color: #FFE200 !important;
}

main {
    overflow-x: hidden;
}
